<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnlyMicroverse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <h1 class="is-size-4">Members Only</h1>
    </a>
  </div>
     <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          
            <%= link_to "Sing Up", new_user_registration_path, class: "button is-primary"%>
          
          
            <%= link_to "Log in", new_user_session_path, class: "button is-light"%>
          

          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button is-info mt-2 mr-2" %>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
